{% extends "layout.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">

<body class="mt-40">
    {% include "navbar.html" %}

    <div class="flex flex-row justify-center items-center mt-48">

        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdEZkpovlIUEqaS4R_IU-eS8h7vPx0Rd2TuLSo33_BSCRKusA/viewform?embedded=true" width="640" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        
    </div>

</body>

{% endblock %}