{% extends "layout.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">

<body class="mt-40">
    {% include "navbar.html" %}

    <div class="flex flex-row justify-center items-center mt-96 mb-96">

        <div class="flex flex-col justify-center items-center">
            <a href="/signup"><button class="mb-10">Click here to sign up</button></a>

            <p> The BIMCT 2022 Fall Contest will take place from October 8th, 2022 to October 9th, 2022</p>
        </div>
    </div>

</body>

{% endblock %}