{% extends "layout.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script>
    function SubForm() {
        $.ajax({
            url: 'https://api.apispreadsheets.com/data/p9a5bA8IiIgIZjzD/',
            type: 'post',
            data: $("#myForm").serializeArray(),
            success: function () {
                document.location.reload(true);
            },
            error: function () {
                alert("There was an error :(")
            }
        });
    }
</script>

<body class="mt-40">
    {% include "navbar.html" %}
    <!--kinda just made in a row, dunno if it works-->
    <div class="flex flex-row justify-center items-center mt-96 mb-96">
        <form id="myForm">
            <label>Full Name</label>
            <br />
            <input name="name" style="border: 1px solid black;">
            <br />
            <label>Email</label>
            <br />
            <input name="email" style="border: 1px solid black;">
            <br />
            <label>Age</label>
            <br />
            <input type="number" name="age" style="border: 1px solid black;">
            <br />
            <label>Message</label>
            <br />
            <textarea name="message" style="border: 1px solid black;">
            </textarea>
        </form>
        <br />
        <button onclick="SubForm()">Submit</button>
    </div>

</body>

{% endblock %}